body {
  margin: 0;
  font-family: sans-serif;
  text-align: center;
  background: #111;
  color: #eee;
}

h1 {
  margin: 1rem;
  color: orange;
}

#map {
  width: 100%;
  height: 80vh;
  margin: auto;
  border: 2px solid orange;
  border-radius: 8px;
}
